{% extends 'blog/base.html' %}

{% block content %}
<div class="row card">
	<div class="col-sm-12 card-body">
		{% if post.published_date %}
           <p class="small">published: {{ post.published_date }}</p>
        {% endif %}
		<h3 class="card-title text-capitalize"><a href="{% url 'post_detail' pk=post.pk %}"> {{ post.title }}</a></h3>  
		<!-- The post_detail part means that Django will be expecting a URL in blog/urls.py with name=post_detail -->
		<!-- k=post.pk pk is short for primary key, which is a unique name for each record in a database. -->
		<p class="card-text lead">{{ post.text|linebreaksbr }}</p>
	</div>
</div>
{% endblock %}
